<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Create Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <label for="name">Username</label>
        <input type="text" name="username" id="name" placeholder="Enter Username">
        <br><br>

        <label for="content">Content</label>
        <textarea name="content" id="content" placeholder="Write your post.."></textarea>
        <br><br>

        <button>Submit Post</button>
    </form>
</body>
</html>